@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";


@theme {
  --color-grey-600: #3d6666;
  --color-grey-550: #547878;
  --color-grey-500: #5e7a7d;
  --color-grey-400: #7f9d9f;
  --color-grey-300: #9ebbbd;
  --color-grey-200: #c5e4e7;
  --color-grey-50:  #f3f9fa;
  --color-green-900: #00474b;
  --color-green-800: #085c61;
  --color-green-750: #0d686d;
  --color-green-400: #26c2ae;
  --color-green-200: #9fe8df;
  --color-orange-400: #e17052;
  --font-space-mono: 'Space Mono', monospace;
}

@layer utilities {
  .text-preset1 {
    @apply text-[48px]/[71px] font-space-mono font-bold tracking-[-1px];
  }
  .text-preset2 {
    @apply text-[32px]/[47px] font-space-mono font-bold tracking-[-0.67px];
  }
  .text-preset3 {
    @apply text-[24px]/[36px] font-space-mono font-bold tracking-normal;
  }
  .text-preset4 {
    @apply text-[20px]/[30px] font-space-mono font-bold tracking-normal;
  }
  .text-preset5 {
    @apply text-[16px]/[24px] font-space-mono font-bold tracking-normal;
  }
  .text-preset6 {
    @apply text-[13px]/[19px] font-space-mono font-bold tracking-normal;
  }
}