@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  /* Grey */
  --color-grey-950: #08070b;
  --color-grey-900: #14131b;
  --color-grey-850: #18171f;
  --color-grey-800: #24232c;
  --color-grey-700: #54535b;
  --color-grey-600: #817d92;
  --color-grey-200: #e6e5ea;

  /* Green */
  --color-green-200: #a4ffaf;

  /* Yellow */
  --color-yellow-300: #f8cd65;

  /* Orange */
  --color-orange-400: #fb7c58;

  /* Red */
  --color-red-500: #f64a4a;

  /* Gradient */
  --color-gradient-1: #14131b;
  --color-gradient-2: #08070b;

  /* Fonts */
  --font-jetbrains-mono: "JetBrains Mono", monospace;
}

@layer components {
  .text-preset1 {
    @apply text-[32px]/[42px] font-jetbrains-mono font-bold tracking-normal;
  }
  .text-preset2 {
    @apply text-[24px]/[32px] font-jetbrains-mono font-bold tracking-normal;
  }
  .text-preset3 {
    @apply text-[18px]/[24px] font-jetbrains-mono font-bold tracking-normal;
  }
  .text-preset4 {
    @apply text-[16px]/[20px] font-jetbrains-mono font-bold tracking-normal;
  }
}

@layer components {
  .range-slider {
    @apply w-full h-2 rounded-lg appearance-none cursor-pointer;
    background-color: var(--color-grey-850);

    /* implementing color for the slider track */
    --progress: calc((var(--value, 0) - var(--min, 0)) / (var(--max, 100) - var(--min, 0)));
    background: linear-gradient(
      to right,
      var(--color-green-200) 0%,
      var(--color-green-200) calc(var(--progress) * 100%),
      var(--color-grey-850) calc(var(--progress) * 100%),
      var(--color-grey-850) 100%
    );
  }
  .range-slider::-webkit-slider-thumb {
    @apply w-5 h-5 rounded-full cursor-pointer;
    appearance: none;
    border: 2px solid var(--color-grey-200);
    background-color: var(--color-grey-200);
  }
  .range-slider::-webkit-slider-thumb:hover {
    border: 2px solid var(--color-green-200);
    background-color: var(--color-grey-850);
  }

  .checkbox {
    @apply appearance-none w-4 h-4 border-2;
    border-color: var(--color-grey-200);
  }
  .checkbox:checked {
    @apply bg-green-200 border-green-200;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2318171F' stroke-width='3' fill='none' d='M1 5.607 4.393 9l8-8'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 12px;
  }
  .checkbox:hover {
    @apply border-green-200 cursor-pointer;
  }
}
