@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  /* White & Black */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Grey */
  --color-grey-500: #626c7f;
  --color-grey-50: #f4f6fa;

  /* Blue */
  --color-blue-950: #2d3949;
  --color-blue-900: #313e51;
  --color-blue-850: #3b4d66;
  --color-blue-500: #306aff;
  --color-blue-300: #abc1e1;
  --color-blue-100: #edf1f9;
  --color-blue-50: #ebf0ff;

  /* Green */
  --color-green-500: #2fd887;
  --color-green-100: #e0fdef;

  /* Purple */
  --color-purple-600: #a729f5;
  --color-purple-100: #f6e7ff;

  /* Orange */
  --color-orange-400: #ff7e35;
  --color-orange-50: #fff5ed;

  /* Red */
  --color-red-500: #ee5454;

  /* Fonts */
  --font-rubik: "Rubik", sans-serif;
}

@layer components {
  /* Text Preset 1 */
  .text-preset1 {
    @apply text-[88px]/[1] font-rubik font-medium tracking-normal;
  }

  /* Text Preset 2 (Medium) */
  .text-preset2-md {
    @apply text-[40px]/[1] font-rubik font-medium tracking-normal;
  }

  /* Text Preset 2 (Light) */
  .text-preset2-light {
    @apply text-[40px]/[1] font-rubik font-light tracking-normal;
  }

  /* Text Preset 3 */
  .text-preset3 {
    @apply text-[20px]/[1.2] font-rubik font-medium tracking-normal;
  }

  /* Text Preset 4 */
  .text-preset4 {
    @apply text-[18px]/[1] font-rubik font-medium tracking-normal;
  }

  /* Text Preset 5 (Medium) */
  .text-preset5-md {
    @apply text-[24px]/[1.5] font-rubik font-medium tracking-normal;
  }
  /* Text Preset 5 (Regular) */
  .text-preset5-regular {
    @apply text-[24px]/[1.5] font-rubik font-normal tracking-normal;
  }

  /* Text Preset 6 */
  .text-preset6 {
    @apply text-[14px]/[1.5] font-rubik italic tracking-normal;
  }
}
