@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-white: #ffffff;
  --color-black: #000000;

  /* Purple */
  --color-purple-950: #301534;
  --color-purple-600: #8B6990;
  --color-purple-100: #F8EEFF;

  /* Violet */
  --color-violet-600: #AD28EB;

  /* Font */
  --font-worksans: "Work Sans", sans-serif;
}

@layer components {
  .text-preset1 {
    @apply text-[56px]/[66px] font-worksans font-bold tracking-normal;
  }
  .text-preset2 {
    @apply text-[18px]/[21px] font-worksans font-semibold tracking-normal;
  }
  .text-preset3 {
    @apply text-[16px]/[24px] font-worksans font-normal tracking-normal;
  }
}